<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{/../fragments/head :: head('Acesso negado')}"></th:block>
<body>
	<th:block th:replace="~{/../fragments/head :: header}"></th:block>
	<div class="text-center">
		<h1 class="display-1 text-danger">403</h1>
		<p class="lead">Acesso Negado</p>
		<p class="mb-4">Você não tem permissão para acessar este recurso.</p>
		<div class="d-flex justify-content-center">
			<a href="/" class="btn btn-primary mr-2">Ir para a Página Inicial</a>
		</div>
	</div>
</body>
</html>